## Observations and Insights

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

# Study data files
mouse_metadata_path = "data/Mouse_metadata.csv"
study_results_path = "data/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata_df = pd.read_csv(mouse_metadata_path)
study_results_df = pd.read_csv(study_results_path)

# Combine the data into a single dataset
combine_df = pd.merge(mouse_metadata_df, study_results_df, on="Mouse ID")

# Display the data table for preview




combine_df

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1
...,...,...,...,...,...,...,...,...
1888,z969,Naftisol,Male,9,30,25,63.145652,2
1889,z969,Naftisol,Male,9,30,30,65.841013,3
1890,z969,Naftisol,Male,9,30,35,69.176246,4
1891,z969,Naftisol,Male,9,30,40,70.314904,4
1892,z969,Naftisol,Male,9,30,45,73.867845,4

In [2]:
# Check the number of mice.
mouse_count = len(combine_df["Mouse ID"].unique())
print(mouse_count)

249

In [5]:
# Find any duplicate rows with the same Mouse ID's and Timepoints. 

#mc_groupby = combine_df.groupby(["Mouse ID","Timepoint"])
#mc_groupby = combine_df.groupby(["Mouse ID"])
#drop_df = combine_df.drop_duplicates(subset = ["Timepoint"])
#tp_list = mc_groupby["Timepoint"].value_counts

drop_df = combine_df.drop_duplicates(["Mouse ID","Timepoint"])

#print(drop_df)


#mouse2_count = len(drop_df["Mouse ID"].unique())
#print(mouse2_count)

#drop_item_df = purchase_data.drop_duplicates(subset = ["Item ID"])


#most popular items grouped by Item ID & Item Name
#mpi_groupby = purchase_data.groupby(['Item ID', "Item Name"])

#calculate sum & count of total purhases
#purchtotal = mpi_groupby["Price"].sum()

#purchcount = mpi_groupby["Purchase ID"].count()
drop_df

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1
...,...,...,...,...,...,...,...,...
1888,z969,Naftisol,Male,9,30,25,63.145652,2
1889,z969,Naftisol,Male,9,30,30,65.841013,3
1890,z969,Naftisol,Male,9,30,35,69.176246,4
1891,z969,Naftisol,Male,9,30,40,70.314904,4
1892,z969,Naftisol,Male,9,30,45,73.867845,4

In [5]:
# Drop any duplicate rows

In [6]:
# Recheck the number of mice
mouse2_count = len(drop_df["Mouse ID"].unique())
print(mouse2_count)

249

## Summary Statistics

In [30]:
# Generate a summary statistics table of mean, median, variance, 
# standard deviation, and SEM of the tumor volume for each regimen.

#test = drop_df.groupby("Drug Regimen")["Tumor Volume (mm3)""].agg({'Tumor':['min', 'max','median']})

test = drop_df.groupby("Drug Regimen")["Tumor Volume (mm3)"]

test2 = test.agg({'min', 'max', 'median', 'var', 'std', 'sem'})


#titanic[["Sex", "Age"]].groupby("Sex").mean()
print(test.groups)

test2

{'Capomulin': Int64Index([  10,   11,   12,   13,   14,   15,   16,   17,   18,   19,
            ...
             435,  436,  437,  438,  439,  440, 1452, 1453, 1454, 1455],
           dtype='int64', length=230), 'Ceftamin': Int64Index([ 484,  485,  486,  487,  488,  489,  490,  491,  492,  493,
            ...
            1846, 1847, 1848, 1849, 1850, 1851, 1852, 1853, 1854, 1855],
           dtype='int64', length=178), 'Infubinol': Int64Index([ 454,  455,  456,  457,  458,  459,  460,  461,  462,  463,
            ...
            1863, 1864, 1865, 1866, 1867, 1868, 1869, 1870, 1871, 1872],
           dtype='int64', length=178), 'Ketapril': Int64Index([ 511,  512,  513,  690,  691,  692,  693,  694,  695,  696,
            ...
            1814, 1815, 1816, 1817, 1818, 1819, 1820, 1821, 1822, 1823],
           dtype='int64', length=188), 'Naftisol': Int64Index([ 558,  559,  560,  561,  562,  563,  564,  565,  566,  567,
            ...
            1883, 1884, 1885, 1886, 1887, 1888, 1889, 1890, 1891, 1892],
           dtype='int64', length=186), 'Placebo': Int64Index([ 474,  475,  476,  477,  478,  479,  480,  481,  482,  483,
            ...
            1824, 1825, 1826, 1827, 1828, 1829, 1830, 1831, 1832, 1833],
           dtype='int64', length=181), 'Propriva': Int64Index([ 541,  542,  543,  544,  545,  546,  547,  548,  549,  550,
            ...
            1736, 1737, 1738, 1739, 1740, 1741, 1742, 1860, 1861, 1862],
           dtype='int64', length=156), 'Ramicane': Int64Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
            ...
            444, 445, 446, 447, 448, 449, 450, 451, 452, 453],
           dtype='int64', length=228), 'Stelasyn': Int64Index([ 494,  495,  496,  497,  498,  499,  500,  514,  515,  516,
            ...
            1756, 1757, 1758, 1759, 1760, 1761, 1762, 1763, 1858, 1859],
           dtype='int64', length=181), 'Zoniferol': Int64Index([ 501,  502,  503,  504,  505,  506,  507,  508,  509,  510,
            ...
            1714, 1715, 1716, 1717, 1718, 1719, 1774, 1775, 1776, 1777],
           dtype='int64', length=182)}

                   sem        var       std     median        max        min
Drug Regimen
Capomulin     0.329346  24.947764  4.994774  41.557809  48.158209  23.343598
Ceftamin      0.469821  39.290177  6.268188  51.776157  68.923185  45.000000
Infubinol     0.492236  43.128684  6.567243  51.820584  72.226731  36.321346
Ketapril      0.603860  68.553577  8.279709  53.698743  78.567014  45.000000
Naftisol      0.596466  66.173479  8.134708  52.509285  76.668817  45.000000
Placebo       0.581331  61.168083  7.821003  52.288934  73.212939  45.000000
Propriva      0.525862  43.138803  6.568014  50.909965  72.455421  45.000000
Ramicane      0.320955  23.486704  4.846308  40.673236  47.622816  22.050126
Stelasyn      0.573111  59.450562  7.710419  52.431737  75.123690  45.000000
Zoniferol     0.516398  48.533355  6.966589  51.818479  73.324432  45.000000

## Bar and Pie Charts

In [9]:
# Generate a bar plot showing the total number of datapoints for each drug regimen using pandas.
# There should be a single bar per regimen

In [10]:
# General identical bar plot using pyplot instead of pandas.

In [11]:
# Generate a pie plot showing the distribution of female versus male mice using pandas

In [12]:
# Generate identical pie plot using pyplot

## Quartiles, Outliers and Boxplots

In [13]:
# Calculate the final tumor volume of each mouse across four of the treatment regimens:  
# Capomulin, Ramicane, Infubinol, and Ceftamin

# HINT: Not all mice lived until timepoint 45
# Start by getting the last (greatest) timepoint for each mouse


# Merge this group df with the original dataframe to get the tumor volume at the last timepoint

Calculate the quartiles and IQR and quantitatively determine if there are any potential outliers across all four treatment regimens.

In [14]:
# Calculate quartiles, IQR, and identify potential outliers for each regimen.

# One method to do this is the following, but you can use whatever method works for you.

##############################################################################
# Put treatments into a list for for loop (and later for plot labels)


# Create empty list to fill with tumor vol data (for plotting)


# Calculate the IQR and quantitatively determine if there are any potential outliers. 

    
    # Locate the rows which contain mice on each drug and get the tumor volumes
    
    
    # add subset 
    
    
    # Determine outliers using upper and lower bounds

In [15]:
# Generate a box plot of the final tumor volume of each mouse across four regimens of interest
# There should be a single chart with four box plots inside it.

## Line and Scatter Plots

In [16]:
# Generate a line plot of tumor volume vs. time point for a single mouse 
# treated with Capomulin

In [17]:
# Generate a scatter plot of average tumor volume vs. mouse weight 
# for all mice in the Capomulin regimen

## Correlation and Regression

In [18]:
# Calculate the correlation coefficient and linear regression model 
# for mouse weight and average tumor volume for the Capomulin regimen

# Observations and Insights