## Observations and Insights

In [4]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

# Study data files
mouse_metadata_path = "data/Mouse_metadata.csv"
study_results_path = "data/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata_df = pd.read_csv(mouse_metadata_path)
study_results_df = pd.read_csv(study_results_path)

# Combine the data into a single dataset
combine_df = pd.merge(mouse_metadata_df, study_results_df, on="Mouse ID")

# Display the data table for preview




combine_df

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1
...,...,...,...,...,...,...,...,...
1888,z969,Naftisol,Male,9,30,25,63.145652,2
1889,z969,Naftisol,Male,9,30,30,65.841013,3
1890,z969,Naftisol,Male,9,30,35,69.176246,4
1891,z969,Naftisol,Male,9,30,40,70.314904,4
1892,z969,Naftisol,Male,9,30,45,73.867845,4

In [5]:
# Check the number of mice.
mouse_count = len(combine_df["Mouse ID"].unique())
print(mouse_count)

249

In [6]:
# Find any duplicate rows with the same Mouse ID's and Timepoints. 

#mc_groupby = combine_df.groupby(["Mouse ID","Timepoint"])
#mc_groupby = combine_df.groupby(["Mouse ID"])
#drop_df = combine_df.drop_duplicates(subset = ["Timepoint"])
#tp_list = mc_groupby["Timepoint"].value_counts

drop_df = combine_df.drop_duplicates(["Mouse ID","Timepoint"])

#print(drop_df)


#mouse2_count = len(drop_df["Mouse ID"].unique())
#print(mouse2_count)

#drop_item_df = purchase_data.drop_duplicates(subset = ["Item ID"])


#most popular items grouped by Item ID & Item Name
#mpi_groupby = purchase_data.groupby(['Item ID', "Item Name"])

#calculate sum & count of total purhases
#purchtotal = mpi_groupby["Price"].sum()

#purchcount = mpi_groupby["Purchase ID"].count()
drop_df

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1
...,...,...,...,...,...,...,...,...
1888,z969,Naftisol,Male,9,30,25,63.145652,2
1889,z969,Naftisol,Male,9,30,30,65.841013,3
1890,z969,Naftisol,Male,9,30,35,69.176246,4
1891,z969,Naftisol,Male,9,30,40,70.314904,4
1892,z969,Naftisol,Male,9,30,45,73.867845,4

In [5]:
# Drop any duplicate rows

In [70]:
# Recheck the number of mice
mouse2_count = len(drop_df["Mouse ID"].unique())
print(mouse2_count)

#dl = (drop_df["Drug Regimen"]).unique()
dl = (drop_df["Drug Regimen"]).value_counts()

dl_df = pd.DataFrame(dl)
dl_df
len(drop_df)
range(len(drop_df))
len(drop_df)
dl

#dl_df = dl_df.value_counts().rename_axis('drug regimen').reset_index(name='counts')
dl_df.head()

249

           Drug Regimen
Capomulin           230
Ramicane            228
Ketapril            188
Naftisol            186
Zoniferol           182

## Summary Statistics

In [62]:
# Generate a summary statistics table of mean, median, variance, 
# standard deviation, and SEM of the tumor volume for each regimen.

#test = drop_df.groupby("Drug Regimen")["Tumor Volume (mm3)""].agg({'Tumor':['min', 'max','median']})

#for all in range((len(drop_df))
    #print(x)
#    sxx = input("this is x")
 #   for each in dl:
  #      if drop_df["Drug Regimen"] == "dl":
            





#test = drop_df.groupby("Drug Regimen")["Tumor Volume (mm3)"]


#test3 = drop_df.groupby("Drug Regimen")

#test2 = test.agg({'min', 'max', 'median', 'var', 'std', 'sem'})


#titanic[["Sex", "Age"]].groupby("Sex").mean()
#print(test.groups)


#test3.head()
#test3.size()
#len(drop_df)

SyntaxError: invalid syntax (<ipython-input-62-5c9069538165>, line 8)

## Bar and Pie Charts

In [72]:
# Generate a bar plot showing the total number of datapoints for each drug regimen using pandas.
# There should be a single bar per regimen

#all = test.shape[0]
#print(all)
#for x in 

dl_df.head()
dl_df = dl_df.rename(columns={})


#drop_df.plot(x="Drug Regimen", y ="Timepoint", kind ="bar" )
dl_df.plot(, y ="Drug Regimen", kind ="bar" )


#plt.show()

#test3 = drop_df.groupby("Drug Regimen")["Timepoint"]

#test3.head()

#test3.plot("Drug Regimen","Timepoint", kind = 'bar')
test.head(30)

KeyError: 'index'

In [10]:
# General identical bar plot using pyplot instead of pandas.

In [11]:
# Generate a pie plot showing the distribution of female versus male mice using pandas

In [12]:
# Generate identical pie plot using pyplot

## Quartiles, Outliers and Boxplots

In [13]:
# Calculate the final tumor volume of each mouse across four of the treatment regimens:  
# Capomulin, Ramicane, Infubinol, and Ceftamin

# HINT: Not all mice lived until timepoint 45
# Start by getting the last (greatest) timepoint for each mouse


# Merge this group df with the original dataframe to get the tumor volume at the last timepoint

Calculate the quartiles and IQR and quantitatively determine if there are any potential outliers across all four treatment regimens.

In [14]:
# Calculate quartiles, IQR, and identify potential outliers for each regimen.

# One method to do this is the following, but you can use whatever method works for you.

##############################################################################
# Put treatments into a list for for loop (and later for plot labels)


# Create empty list to fill with tumor vol data (for plotting)


# Calculate the IQR and quantitatively determine if there are any potential outliers. 

    
    # Locate the rows which contain mice on each drug and get the tumor volumes
    
    
    # add subset 
    
    
    # Determine outliers using upper and lower bounds

In [15]:
# Generate a box plot of the final tumor volume of each mouse across four regimens of interest
# There should be a single chart with four box plots inside it.

## Line and Scatter Plots

In [16]:
# Generate a line plot of tumor volume vs. time point for a single mouse 
# treated with Capomulin

In [17]:
# Generate a scatter plot of average tumor volume vs. mouse weight 
# for all mice in the Capomulin regimen

## Correlation and Regression

In [18]:
# Calculate the correlation coefficient and linear regression model 
# for mouse weight and average tumor volume for the Capomulin regimen

# Observations and Insights